.recentLocation-item {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 0.25rem;
}

.arrow-column {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  text-align: center;
  align-content: center;
}

.wx-details {
  text-align: right;
}

.wx-meta {
  text-align: left;
}

#location-name {
  font-size: 1.2em;
  font-weight: 200;
  align-content: end;
}

#location-temp {
  font-size: 1em;
  font-weight: 600;
  align-content: end;
}

#location-country {
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
}

#location-wx-symbol {
  
}
