#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 99vw;
  height: 30vh;
}

.mainPanel {
  flex: 1 500px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #e04700
}

#searchBoxContainer {
  height: 25%;
  margin-bottom: 2.5%;
}

#recentLocationsContainer {
  height: 72.5%;
  border: 2px dotted white;
  
}
