#searchBox {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: #1b1b1b;
  border-width: 2px;
  border-radius: 2%;
  padding: 1vh 0 1vh;
  align-items: center;
}

#searchIcon {
  color: grey;
  margin: 0 5% 0;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
}

input:focus {
  outline: none;
}