#results-list {
  width: 100%;
  background-color: white;
  color: black;
  display: block;
  border-radius: 2%;
  margin-top: 1%;
}

.result-option-box {
  padding: 2% 5%;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.result-option-box:hover {
  background-color: rgb(155, 155, 155);
}

.result-option {
  margin-left: 5%;
}