.summary-container {
  flex: 2;
  display: flex;
  flex-direction: row;
  
}

.weather-item {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 0.25rem;
}

.date-row {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  text-align: center;
  align-content: center;
}

.wx-symbol-col {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  text-align: left;
  align-content: center;
}